Source: libvorbis
Section: libs
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper, libogg-dev (>> 1.0beta4)
Standards-Version: 3.5.2.0

Package: libvorbis-dev
Architecture: any
Section: devel
Depends: libvorbis0 (= ${Source-Version}), libogg-dev, libc6-dev
Description: Development library for OGG Vorbis
 Ogg Vorbis is a fully Open, non-proprietary, patent-and-royalty-free,
 general-purpose compressed audio format for high quality (44.1-48.0kHz,
 16+ bit, polyphonic) audio and music at fixed and variable bitrates 
 from 16 to 128 kbps/channel. This places Vorbis in the same class as 
 audio representations including MPEG-1 audio layer 3, MPEG-4 
 audio (AAC and TwinVQ), and PAC.

Package: libvorbis0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: The OGG Vorbis lossy audio compression codec.
 Ogg Vorbis is a fully Open, non-proprietary, patent-and-royalty-free,
 general-purpose compressed audio format for high quality (44.1-48.0kHz,
 16+ bit, polyphonic) audio and music at fixed and variable bitrates
 from 16 to 128 kbps/channel. This places Vorbis in the same class as
 audio representations including MPEG-1 audio layer 3, MPEG-4
 audio (AAC and TwinVQ), and PAC.
